.shinyCard {
    position: relative;
    transition: 0.5s all;
}

.shinyCard::before {
    position: absolute;
    content: '';
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.08);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    width: 100%; /* Ensure the pseudo-element spans the width of the card */
    transition: 0.7s all;
}

.shinyCard:hover {
    border: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.67);
    filter: brightness(1.3);
}

.shinyCard:hover::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}
